* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #F7D1BA;
    font-family: 'Dancing Script', cursive;
}

img {
    border-radius: 50%;
    border: 4px solid #D39A89;
    
}

h1 {
    margin-top: 30px;
    margin-bottom: 8px;
    font-size: 36px;
    color: black;
}

h2 {
    color: black;
    font-size: 14px;
    font-family: 'Merienda', cursive;
}

p, .developed-by {
    color: black;
    font-size: 12px;
    font-family: 'Merienda', cursive;
}

ul {
    margin-top: 30px;  
}

li {
    margin-bottom: 18px;
}

a {
    background-color: #D39A89;
    color: white;
    padding: 15px;
    display: block;
    border-radius: 5px;
    font-size: 26px;
    font-weight: bolder;
}

a:hover {
    background-color: #9c7063;
}

.developed-by {
    display: contents;
}

.developed-by:hover {
    color: #D39A89;
    font-weight: bolder;
    
}

footer {
    margin-top: 30px;
}

.container {
    width: 320px;
    text-align: center;
    margin: 30px auto;
    /* margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto; */
}