* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #A2543D;
    font-family: 'Dancing Script', cursive;
}

img {
    border-radius: 50%;
}

h1 {
    margin-top: 30px;
    margin-bottom: 8px;
    font-size: 36px;
    color: #D6DCD8;
}

h2 {
    color:  #D6DCD8;
    font-size: 14px;
    font-family: 'Merienda', cursive;
}

p, .developed-by {
    color:   #D6DCD8;
    font-size: 12px;
    font-family: 'Merienda', cursive;
}

ul {
    margin-top: 30px;  
}

li {
    margin-bottom: 18px;
}

a {
    background-color: bisque;
    color: #CE7E5D;
    padding: 15px;
    display: block;
    border-radius: 5px;
    font-size: 26px;
    font-weight: bolder;
}

a:hover {
    background-color: rgb(201, 170, 133);
}

.developed-by {
    display: contents;
}

.developed-by:hover {
    color:#939694;
    
}

footer {
    margin-top: 30px;
}

.container {
    width: 320px;
    text-align: center;
    margin: 30px auto;
    /* margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto; */
}