* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    font-size: 62.5%;

    --bg-color: #F7D1BA;
    --h1-color: black;
    --h2-p-color: black;
    --bga-color: #D39A89;
    --a-color: white;
}

.lightMode:root {
    --bg-color: #D39A89;
    --h1-color: white;
    --h2-p-color: white;
    --bga-color: #F7D1BA;
    --a-color: black;
}

button.iconTurnsColor svg path {            
    fill: white;
}

body {
    background-color: var(--bg-color);
    font-family: 'Dancing Script', cursive;
}

.container {
    width: 32rem;
    text-align: center;
    margin: 3rem auto;
    /* margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto; */
}

img {
    border-radius: 50%;
    border: 4px solid var(--bga-color);   
}

h1 {
    color: var(--h1-color);
    margin-top: 3rem;
    margin-bottom: 0.8rem;
    font-size: 3.6rem;
}

h2 {
    color: var(--h2-p-color);
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
    font-family: 'Merienda', cursive;
}

p, .developed-by {
    color: var(--h2-p-color);
    font-size: 1.2rem;
    font-family: 'Merienda', cursive;
}

ul {
    margin-top: 3rem;   
    width: 28rem;   /* updated project. */
    margin: 3rem auto;  /* updated project. */
}

li {
    margin-bottom: 1.8rem;
}

a {
    background-color: var(--bga-color);
    color: var(--a-color);
    padding: 1.5rem;
    display: block;
    border-radius: 0.5rem;
    font-weight: bolder;
    font-size: 2.5rem;
}

a:hover {
    filter: brightness(80%);
}

.developed-by {
    color: var(--h2-p-color);
    font-size: 1.2rem;
    display: contents;
}

.developed-by:hover {
    color: var(--bga-color); 
}

footer {
    margin-top: 3rem;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.topIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.darkLightMode {
    display: flex;
    gap: 1.5rem;
}

.fa-sun, .fa-moon, .fa-share-nodes {
    font-size: 2.5rem;
    color: var(--bga-color);
}

.flags {
    display: flex;
    gap: 1.2rem;
}